@import url(../@vivliostyle/theme-base/theme-all.css);
@import url(../@vivliostyle/theme-academic/theme.css);
@import url(../@vivliostyle/theme-base/css/lib/prism/base.css);
@import url(../@vivliostyle/theme-base/css/lib/prism/theme-okaidia.css);

/* Page Counter */

html[page-counter="true"], html[page-counter="default"], html[page-counter="center"]{
  --vs-page--mbox-content-bottom-center: counter(page);
}

html[page-counter="false"]{
  --vs-page--mbox-content-bottom-center: none;
}

html[page-counter="right"]{
  --vs-page--mbox-content-bottom-center: none;
  --vs-page--mbox-content-bottom-right-corner: counter(page);
}

html[page-counter="left"]{
  --vs-page--mbox-content-bottom-center: none;
  --vs-page--mbox-content-bottom-left-corner: counter(page);
}

/* Pub Title */

html[pub-title="true"], html[pub-title="default"], html[pub-title="left"]{
  --vs-page--mbox-content-top-left: env(pub-title);
}

html[pub-title="false"]{
  --vs-page--mbox-content-top-left: none;
}

html[pub-title="right"]{
  --vs-page--mbox-content-top-left: none;
  --vs-page--mbox-content-top-right: env(pub-title);
}

html[pub-title="center"]{
  --vs-page--mbox-content-top-left: none;
  --vs-page--mbox-content-top-center: env(pub-title);
}

/* Abstract */

#abstract{
  margin: 0 auto;
}

.abstract::before{
  --vs--abstract-title: 'Abstract';
  content: var(--vs--abstract-title);
  display: block;
  font-family: var(--vs--heading-font-family);
  font-size: var(--vs--h2-font-size);
  font-weight: bold;
  text-align: center;
}

.abstract:lang(ja)::before{
  --vs--abstract-title: '概要';
  content: var(--vs--abstract-title);
}

.abstract p{
  text-indent: 1em;
}

/* Image Row */

.image-row{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.image-row img{
  width: 100%;
}

.image-row:has(> figure:nth-child(1)) figure{
  width: 100%;
}

.image-row:has(> figure:nth-child(2)) figure{
  width: calc((100% - 2em * 1) / 2);
}

.image-row:has(> figure:nth-child(3)) figure{
  width: calc((100% - 2em * 2) / 3);
}

.image-row:has(> figure:nth-child(4)) figure{
  width: calc((100% - 2em * 3) / 4);
}

.image-row:has(> figure:nth-child(5)) figure{
  width: calc((100% - 2em * 4) / 5);
}

.image-row:has(> figure:nth-child(6)) figure{
  width: calc((100% - 2em * 5) / 6);
}

.image-row:has(> figure:nth-child(7)) figure{
  width: calc((100% - 2em * 6) / 7);
}

.image-row:has(> figure:nth-child(8)) figure{
  width: calc((100% - 2em * 7) / 8);
}